<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>{{ page.title }}</title>
    <link rel="stylesheet" href="{{ "../../css/book.css" }}">
    <link rel="stylesheet" href="{{ "../../css/highlight.css" }}">
    <link rel="shortcut icon" href="/favicon.png">
  </head>
  <body>
    <div id="wrapper">
      {% include header.html %}
      <section class="content details">
        <div class="book-wrapper">
          <div class="chapter-contents">
            {{ content }}
          </div>
        </div>
      </section>
      {% include footer.html %}
    </div>
  </body>
</html>
